body{
    background-color: var(--corprincipal);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

p{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

li{
    color: white;
    text-decoration:none;
}

footer{
    background-color: var(--corconteudo);
    border: 2px white solid;
    border-radius: 25px;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/*classes*/
.imagens{
    width: 624px;
    height: 417px;
}

.linl{
    text-decoration: none;
}

.conteudo-padrao{
    background-color: var(--fundocont);
    border: 2px white solid;
    width: 60%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 25px;
}

.titulo{
    color:black;
    background-color:var(--corconteudo);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.tituloint{
    color: white;
    background-color: var(--fundocont);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.imgctt{
    width: 40px;
    height: 40px;
}

.zap{
    width: 45px;
    height: 45px;
}

/*IDs*/

#lista{
    width: 12%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#introducao{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#rdp{
    text-align: center;
}

/*paleta de cores*/
:root{
    --corprincipal: #34067F;
    --corconteudo: #644F7D;
    --corh1: #477C30;
    --fundocont:#B1A8B9;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,600&display=swap');

